<main>
    <div class="fondo">
        <section>
            <div class="container-sec">
                <div class="flex-absolute">
                    <img class="sec-img" src="/static/public/img/edit-AMD-Intel.jpg" alt="fondoVs">
                    <!-- Con Js hacemos un filter a las imagenes para traer los productos segun su categoria -->
                    <!-- por ahora voy a aplicar productos.html -->
                    <a href="/views/pages/combos.html"><img class="section-intel"
                            src="/static/public/img/intel-Simbolo.png" alt="Intel"></a>
                    <a href="/views/pages/combos.html"><img class="section-amd"
                            src="/static/public/img/AMD-Simbolo.png" alt="Amd"></a>
                </div>
            </div>
        </section>
        <!--********** CARDS DE PRODUCTOS ************ -->
        <table class="container-table">
            <!-- ***** Combos AMD ***** -->
            <div>
                <tr class="row-fluid">
                    <!-- Table Header - Encabezado de Tablas -->
                    <th class="title-h">
                        <h1 class="title-card">Productos</h1>
                    </th>
                </tr>
                {{#if hayProducts}}
                <tr class="gen-card">
                    <!-- Table Data - datos de Tablas -->
                    <td class="prdt-1 card-product">
                        {{#each products}}
                            {{{this.html}}}
                        {{/each}}
                    </td>
                    {{else}}
                    <h5>No se encontraron Productos</h5>
                </tr>
                {{/if}}
            </div>
        </table>
        <div class="pagination">
            {{#if hasPrevPage}}<a
                href="/api/products?limit={{limit}}&page={{prevPage}}{{#if sortExist}}&sort={{sort}}{{/if}}">«</a>{{/if}}
            <b>{{ page }}</b>
            {{#if hasNextPage}}<a
                href="/api/products?limit={{limit}}&page={{nextPage}}{{#if sortExist}}&sort={{sort}}{{/if}}">»</a>{{/if}}
        </div>
    </div>
</main>